* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url('img/background.png');
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.title {
  color: #FFF;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 36px;
}

#title {
  letter-spacing: 2px;
  padding-top: 300px;
  text-align: center;
}

#sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
}

header {
  background-image: url('img/landing.jpg');
  background-size: cover;
  background-color: #4284d7;
  height: 720px;
}

nav {
  padding: 10px 0;
  background-color: #FFF;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.navigation ul {
  text-align: center;
}

.navigation li {
  text-align: center;
  color: #054a70;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0px;
  padding: 0 20px;
  display: inline-block;
}

.navigation li:hover {
  color: #61737c;
}

h3  {
  padding-top: 25px;
}

h4 {
  padding-top: 10px;
}

p {
  text-indent: 25px;
}

ol {
  padding-left: 20px;
}

section {
  padding: 10px 10px 100px 10px;
  background-color: #FFF;
  margin: 0 auto;
  width: 1100px;
  top: 720px;
}

,content-write {
  padding: 10px 10px;
}

#blog-title {
  text-align: center;
  font-size: 36px;
}

.link-ref {
  padding-left: 20px;
}

.link-tugas {
  padding-left: 40px;
}

.blog-image {
  margin: 20px 230px;
}

.blog-image2 {
  margin: 10px 0;
}

.code {
  margin: 10px 0;
  background-color: #EEE;
  border-left: 2px solid orange;
  width: 30%;
  padding: 10px 20px;
}

footer {
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: #054a70;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
}
